In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv(r'D:\IMARTICUS\Property_Price_Train.csv')

In [41]:
df.head()

,Building_Class,Zoning_Class,Lot_Extent,Lot_Size,Road_Type,Property_Shape,Land_Outline,Utility_Type,Lot_Configuration,Property_Slope,...,Enclosed_Lobby_Area,Three_Season_Lobby_Area,Screen_Lobby_Area,Pool_Area,Miscellaneous_Value,Month_Sold,Year_Sold,Sale_Type,Sale_Condition,Sale_Price
0,60,3,65.0,8450,1,3,3,0,4,0,...,20.337934,0,0,0,0,2,2008,8,4,208500
1,20,3,80.0,9600,1,3,3,0,2,0,...,15.039392,0,0,0,0,5,2007,8,4,181500
2,60,3,68.0,11250,1,0,3,0,4,0,...,-46.232198,0,0,0,0,9,2008,8,4,223500
3,70,3,60.0,9550,1,0,3,0,0,0,...,60.921821,0,0,0,0,2,2006,8,0,140000
4,60,3,84.0,14260,1,0,3,0,2,0,...,21.788818,0,0,0,0,12,2008,8,4,250000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 81 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Id                         1459 non-null   int64
 1   Building_Class             1459 non-null   int64
 2   Zoning_Class               1459 non-null   object
 3   Lot_Extent                 1200 non-null   float64
 4   Lot_Size                   1459 non-null   int64
 5   Road_Type                  1459 non-null   object
 6   Lane_Type                  91 non-null     object
 7   Property_Shape             1459 non-null   object
 8   Land_Outline               1459 non-null   object
 9   Utility_Type               1459 non-null   object
 10  Lot_Configuration          1459 non-null   object
 11  Property_Slope             1459 non-null   object
 12  Neighborhood               1459 non-null   object
 13  Condition1                 1459 non-null   object
 14  Condition2                 1459 non-null   object
 15  House_Type                 1459 non-null   object
 16  House_Design               1459 non-null   object
 17  Overall_Material           1459 non-null   int64
 18  House_Condition            1459 non-null   int64
 19  Construction_Year          1459 non-null   int64
 20  Remodel_Year               1459 non-null   int64
 21  Roof_Design                1459 non-null   object
 22  Roof_Quality               1459 non-null   object
 23  Exterior1st                1459 non-null   object
 24  Exterior2nd                1459 non-null   object
 25  Brick_Veneer_Type          1451 non-null   object
 26  Brick_Veneer_Area          1451 non-null   float64
 27  Exterior_Material          1459 non-null   object
 28  Exterior_Condition         1459 non-null   object
 29  Foundation_Type            1459 non-null   object
 30  Basement_Height            1422 non-null   object
 31  Basement_Condition         1422 non-null   object
 32  Exposure_Level             1421 non-null   object
 33  BsmtFinType1               1422 non-null   object
 34  BsmtFinSF1                 1459 non-null   int64
 35  BsmtFinType2               1421 non-null   object
 36  BsmtFinSF2                 1459 non-null   int64
 37  BsmtUnfSF                  1459 non-null   int64
 38  Total_Basement_Area        1459 non-null   int64
 39  Heating_Type               1459 non-null   object
 40  Heating_Quality            1459 non-null   object
 41  Air_Conditioning           1459 non-null   object
 42  Electrical_System          1458 non-null   object
 43  First_Floor_Area           1459 non-null   int64
 44  Second_Floor_Area          1459 non-null   int64
 45  LowQualFinSF               1459 non-null   int64
 46  Grade_Living_Area          1459 non-null   int64
 47  Underground_Full_Bathroom  1459 non-null   int64
 48  Underground_Half_Bathroom  1459 non-null   int64
 49  Full_Bathroom_Above_Grade  1459 non-null   int64
 50  Half_Bathroom_Above_Grade  1459 non-null   int64
 51  Bedroom_Above_Grade        1459 non-null   int64
 52  Kitchen_Above_Grade        1459 non-null   int64
 53  Kitchen_Quality            1459 non-null   object
 54  Rooms_Above_Grade          1459 non-null   int64
 55  Functional_Rate            1459 non-null   object
 56  Fireplaces                 1459 non-null   int64
 57  Fireplace_Quality          770 non-null    object
 58  Garage                     1378 non-null   object
 59  Garage_Built_Year          1378 non-null   float64
 60  Garage_Finish_Year         1378 non-null   object
 61  Garage_Size                1459 non-null   int64
 62  Garage_Area                1459 non-null   float64
 63  Garage_Quality             1378 non-null   object
 64  Garage_Condition           1378 non-null   object
 65  Pavedd_Drive               1459 non-null   object
 66  W_Deck_Area                1459 non-null   float64
 67  Open_Lobby_Area            1459 non-null   float64
 68  Enclosed_Lobby_Area        1459 non-null   float64
 69  Three_Season_Lobby_Area    1459 non-null   int64
 70  Screen_Lobby_Area          1459 non-null   int64
 71  Pool_Area                  1459 non-null   int64
 72  Pool_Quality               7 non-null      object
 73  Fence_Quality              281 non-null    object
 74  Miscellaneous_Feature      54 non-null     object
 75  Miscellaneous_Value        1459 non-null   int64
 76  Month_Sold                 1459 non-null   int64
 77  Year_Sold                  1459 non-null   int64
 78  Sale_Type                  1459 non-null   object
 79  Sale_Condition             1459 non-null   object
 80  Sale_Price                 1459 non-null   int64
dtypes: float64(7), int64(31), object(43)
memory usage: 923.4+ KB

In [5]:
df.shape

(1459, 81)

In [6]:
df.describe()

,Id,Building_Class,Lot_Extent,Lot_Size,Overall_Material,House_Condition,Construction_Year,Remodel_Year,Brick_Veneer_Area,BsmtFinSF1,...,W_Deck_Area,Open_Lobby_Area,Enclosed_Lobby_Area,Three_Season_Lobby_Area,Screen_Lobby_Area,Pool_Area,Miscellaneous_Value,Month_Sold,Year_Sold,Sale_Price
count,1459.000000,1459.000000,1200.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1451.00000,1459.000000,...,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,730.000000,56.922550,70.045833,10517.225497,6.100069,5.575051,1971.272104,1984.879369,103.75672,443.374914,...,93.015667,47.811902,24.580227,3.411926,15.071282,2.760795,43.518849,6.322138,2007.815627,180944.102810
std,421.321334,42.304033,24.294456,9984.675721,1.383171,1.113125,30.212814,20.645927,181.10815,456.142186,...,124.796682,67.467586,61.353507,29.327247,55.775138,40.191018,496.291826,2.704540,1.328542,79464.918335
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.00000,0.000000,...,-338.112031,-187.149958,-164.807386,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.500000,20.000000,59.000000,7549.000000,5.000000,5.000000,1954.000000,1967.000000,0.00000,0.000000,...,9.656026,1.843186,-16.807302,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129950.000000
50%,730.000000,50.000000,69.000000,9477.000000,6.000000,5.000000,1973.000000,1994.000000,0.00000,383.000000,...,92.803628,46.837919,25.026953,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1094.500000,70.000000,80.000000,11603.000000,7.000000,6.000000,2000.000000,2004.000000,166.00000,712.000000,...,180.335986,96.523486,66.237591,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1459.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.00000,5644.000000,...,572.298709,255.362547,225.762714,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [7]:
df.isnull().sum()

Id                  0
Building_Class      0
Zoning_Class        0
Lot_Extent        259
Lot_Size            0
                 ...
Month_Sold          0
Year_Sold           0
Sale_Type           0
Sale_Condition      0
Sale_Price          0
Length: 81, dtype: int64

In [8]:
df.isnull().sum()>500

Id                False
Building_Class    False
Zoning_Class      False
Lot_Extent        False
Lot_Size          False
                  ...
Month_Sold        False
Year_Sold         False
Sale_Type         False
Sale_Condition    False
Sale_Price        False
Length: 81, dtype: bool

In [9]:
df.columns[df.isnull().sum()>df.shape[0]*0.45]

Index(['Lane_Type', 'Fireplace_Quality', 'Pool_Quality', 'Fence_Quality',
       'Miscellaneous_Feature'],
      dtype='object')

In [10]:
df = df.drop(['Id', 'Lane_Type', 'Fireplace_Quality', 'Pool_Quality', 'Fence_Quality', 'Miscellaneous_Feature'], axis=1)

In [11]:
df.shape

(1459, 75)

In [12]:
df.columns[df.isnull().sum()>df.shape[0]*0.45]

Index([], dtype='object')

In [13]:
df.columns[df.isnull().sum()>0]

Index(['Lot_Extent', 'Brick_Veneer_Type', 'Brick_Veneer_Area',
       'Basement_Height', 'Basement_Condition', 'Exposure_Level',
       'BsmtFinType1', 'BsmtFinType2', 'Electrical_System', 'Garage',
       'Garage_Built_Year', 'Garage_Finish_Year', 'Garage_Quality',
       'Garage_Condition'],
      dtype='object')

In [14]:
len(df.columns[df.isnull().sum()>0])

14

In [15]:
df.Basement_Height.fillna('TA' , inplace = True)
df.Exposure_Level.fillna('No' , inplace = True)
df.BsmtFinType1.fillna('Unf' , inplace = True)
df.BsmtFinType2.fillna('Unf' , inplace = True)
df.Electrical_System.fillna('SBrkr' , inplace = True)
df.Garage.fillna('Attchd' , inplace = True)
df.Garage_Finish_Year.fillna('Unf' , inplace = True)
df.Garage_Built_Year.fillna(df.Garage_Built_Year.median(), inplace=True)
df.Garage_Quality.fillna('TA' , inplace = True)
df.Basement_Condition.fillna('TA' , inplace = True)
df.Garage_Condition  = df.Garage_Condition.fillna('TA')
df.Brick_Veneer_Type  = df.Brick_Veneer_Type.fillna('None')
df.Brick_Veneer_Area.fillna(df.Brick_Veneer_Area.median(), inplace=True)
df.Lot_Extent.fillna(df.Lot_Extent.median(), inplace=True)

In [16]:
df.columns[df.isnull().sum()>0]

Index([], dtype='object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 75 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Building_Class             1459 non-null   int64
 1   Zoning_Class               1459 non-null   object
 2   Lot_Extent                 1459 non-null   float64
 3   Lot_Size                   1459 non-null   int64
 4   Road_Type                  1459 non-null   object
 5   Property_Shape             1459 non-null   object
 6   Land_Outline               1459 non-null   object
 7   Utility_Type               1459 non-null   object
 8   Lot_Configuration          1459 non-null   object
 9   Property_Slope             1459 non-null   object
 10  Neighborhood               1459 non-null   object
 11  Condition1                 1459 non-null   object
 12  Condition2                 1459 non-null   object
 13  House_Type                 1459 non-null   object
 14  House_Design               1459 non-null   object
 15  Overall_Material           1459 non-null   int64
 16  House_Condition            1459 non-null   int64
 17  Construction_Year          1459 non-null   int64
 18  Remodel_Year               1459 non-null   int64
 19  Roof_Design                1459 non-null   object
 20  Roof_Quality               1459 non-null   object
 21  Exterior1st                1459 non-null   object
 22  Exterior2nd                1459 non-null   object
 23  Brick_Veneer_Type          1459 non-null   object
 24  Brick_Veneer_Area          1459 non-null   float64
 25  Exterior_Material          1459 non-null   object
 26  Exterior_Condition         1459 non-null   object
 27  Foundation_Type            1459 non-null   object
 28  Basement_Height            1459 non-null   object
 29  Basement_Condition         1459 non-null   object
 30  Exposure_Level             1459 non-null   object
 31  BsmtFinType1               1459 non-null   object
 32  BsmtFinSF1                 1459 non-null   int64
 33  BsmtFinType2               1459 non-null   object
 34  BsmtFinSF2                 1459 non-null   int64
 35  BsmtUnfSF                  1459 non-null   int64
 36  Total_Basement_Area        1459 non-null   int64
 37  Heating_Type               1459 non-null   object
 38  Heating_Quality            1459 non-null   object
 39  Air_Conditioning           1459 non-null   object
 40  Electrical_System          1459 non-null   object
 41  First_Floor_Area           1459 non-null   int64
 42  Second_Floor_Area          1459 non-null   int64
 43  LowQualFinSF               1459 non-null   int64
 44  Grade_Living_Area          1459 non-null   int64
 45  Underground_Full_Bathroom  1459 non-null   int64
 46  Underground_Half_Bathroom  1459 non-null   int64
 47  Full_Bathroom_Above_Grade  1459 non-null   int64
 48  Half_Bathroom_Above_Grade  1459 non-null   int64
 49  Bedroom_Above_Grade        1459 non-null   int64
 50  Kitchen_Above_Grade        1459 non-null   int64
 51  Kitchen_Quality            1459 non-null   object
 52  Rooms_Above_Grade          1459 non-null   int64
 53  Functional_Rate            1459 non-null   object
 54  Fireplaces                 1459 non-null   int64
 55  Garage                     1459 non-null   object
 56  Garage_Built_Year          1459 non-null   float64
 57  Garage_Finish_Year         1459 non-null   object
 58  Garage_Size                1459 non-null   int64
 59  Garage_Area                1459 non-null   float64
 60  Garage_Quality             1459 non-null   object
 61  Garage_Condition           1459 non-null   object
 62  Pavedd_Drive               1459 non-null   object
 63  W_Deck_Area                1459 non-null   float64
 64  Open_Lobby_Area            1459 non-null   float64
 65  Enclosed_Lobby_Area        1459 non-null   float64
 66  Three_Season_Lobby_Area    1459 non-null   int64
 67  Screen_Lobby_Area          1459 non-null   int64
 68  Pool_Area                  1459 non-null   int64
 69  Miscellaneous_Value        1459 non-null   int64
 70  Month_Sold                 1459 non-null   int64
 71  Year_Sold                  1459 non-null   int64
 72  Sale_Type                  1459 non-null   object
 73  Sale_Condition             1459 non-null   object
 74  Sale_Price                 1459 non-null   int64
dtypes: float64(7), int64(30), object(38)
memory usage: 855.0+ KB

In [18]:
df.select_dtypes(include='object').columns

Index(['Zoning_Class', 'Road_Type', 'Property_Shape', 'Land_Outline',
       'Utility_Type', 'Lot_Configuration', 'Property_Slope', 'Neighborhood',
       'Condition1', 'Condition2', 'House_Type', 'House_Design', 'Roof_Design',
       'Roof_Quality', 'Exterior1st', 'Exterior2nd', 'Brick_Veneer_Type',
       'Exterior_Material', 'Exterior_Condition', 'Foundation_Type',
       'Basement_Height', 'Basement_Condition', 'Exposure_Level',
       'BsmtFinType1', 'BsmtFinType2', 'Heating_Type', 'Heating_Quality',
       'Air_Conditioning', 'Electrical_System', 'Kitchen_Quality',
       'Functional_Rate', 'Garage', 'Garage_Finish_Year', 'Garage_Quality',
       'Garage_Condition', 'Pavedd_Drive', 'Sale_Type', 'Sale_Condition'],
      dtype='object')

In [19]:
len(df.select_dtypes(include='object').columns)

38

In [20]:
from sklearn.preprocessing import  LabelEncoder
le = LabelEncoder()

In [21]:
df[df.select_dtypes(include=['object']).columns]  = df[df.select_dtypes(include=['object']).columns].apply(le.fit_transform)

In [22]:
df.select_dtypes(include='object').columns

Index([], dtype='object')

In [23]:
len(df.select_dtypes(include='object').columns)

0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 75 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Building_Class             1459 non-null   int64
 1   Zoning_Class               1459 non-null   int32
 2   Lot_Extent                 1459 non-null   float64
 3   Lot_Size                   1459 non-null   int64
 4   Road_Type                  1459 non-null   int32
 5   Property_Shape             1459 non-null   int32
 6   Land_Outline               1459 non-null   int32
 7   Utility_Type               1459 non-null   int32
 8   Lot_Configuration          1459 non-null   int32
 9   Property_Slope             1459 non-null   int32
 10  Neighborhood               1459 non-null   int32
 11  Condition1                 1459 non-null   int32
 12  Condition2                 1459 non-null   int32
 13  House_Type                 1459 non-null   int32
 14  House_Design               1459 non-null   int32
 15  Overall_Material           1459 non-null   int64
 16  House_Condition            1459 non-null   int64
 17  Construction_Year          1459 non-null   int64
 18  Remodel_Year               1459 non-null   int64
 19  Roof_Design                1459 non-null   int32
 20  Roof_Quality               1459 non-null   int32
 21  Exterior1st                1459 non-null   int32
 22  Exterior2nd                1459 non-null   int32
 23  Brick_Veneer_Type          1459 non-null   int32
 24  Brick_Veneer_Area          1459 non-null   float64
 25  Exterior_Material          1459 non-null   int32
 26  Exterior_Condition         1459 non-null   int32
 27  Foundation_Type            1459 non-null   int32
 28  Basement_Height            1459 non-null   int32
 29  Basement_Condition         1459 non-null   int32
 30  Exposure_Level             1459 non-null   int32
 31  BsmtFinType1               1459 non-null   int32
 32  BsmtFinSF1                 1459 non-null   int64
 33  BsmtFinType2               1459 non-null   int32
 34  BsmtFinSF2                 1459 non-null   int64
 35  BsmtUnfSF                  1459 non-null   int64
 36  Total_Basement_Area        1459 non-null   int64
 37  Heating_Type               1459 non-null   int32
 38  Heating_Quality            1459 non-null   int32
 39  Air_Conditioning           1459 non-null   int32
 40  Electrical_System          1459 non-null   int32
 41  First_Floor_Area           1459 non-null   int64
 42  Second_Floor_Area          1459 non-null   int64
 43  LowQualFinSF               1459 non-null   int64
 44  Grade_Living_Area          1459 non-null   int64
 45  Underground_Full_Bathroom  1459 non-null   int64
 46  Underground_Half_Bathroom  1459 non-null   int64
 47  Full_Bathroom_Above_Grade  1459 non-null   int64
 48  Half_Bathroom_Above_Grade  1459 non-null   int64
 49  Bedroom_Above_Grade        1459 non-null   int64
 50  Kitchen_Above_Grade        1459 non-null   int64
 51  Kitchen_Quality            1459 non-null   int32
 52  Rooms_Above_Grade          1459 non-null   int64
 53  Functional_Rate            1459 non-null   int32
 54  Fireplaces                 1459 non-null   int64
 55  Garage                     1459 non-null   int32
 56  Garage_Built_Year          1459 non-null   float64
 57  Garage_Finish_Year         1459 non-null   int32
 58  Garage_Size                1459 non-null   int64
 59  Garage_Area                1459 non-null   float64
 60  Garage_Quality             1459 non-null   int32
 61  Garage_Condition           1459 non-null   int32
 62  Pavedd_Drive               1459 non-null   int32
 63  W_Deck_Area                1459 non-null   float64
 64  Open_Lobby_Area            1459 non-null   float64
 65  Enclosed_Lobby_Area        1459 non-null   float64
 66  Three_Season_Lobby_Area    1459 non-null   int64
 67  Screen_Lobby_Area          1459 non-null   int64
 68  Pool_Area                  1459 non-null   int64
 69  Miscellaneous_Value        1459 non-null   int64
 70  Month_Sold                 1459 non-null   int64
 71  Year_Sold                  1459 non-null   int64
 72  Sale_Type                  1459 non-null   int32
 73  Sale_Condition             1459 non-null   int32
 74  Sale_Price                 1459 non-null   int64
dtypes: float64(7), int32(38), int64(30)
memory usage: 638.4 KB

## Linear Regression

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [26]:
df.head(1)

,Building_Class,Zoning_Class,Lot_Extent,Lot_Size,Road_Type,Property_Shape,Land_Outline,Utility_Type,Lot_Configuration,Property_Slope,...,Enclosed_Lobby_Area,Three_Season_Lobby_Area,Screen_Lobby_Area,Pool_Area,Miscellaneous_Value,Month_Sold,Year_Sold,Sale_Type,Sale_Condition,Sale_Price
0,60,3,65.0,8450,1,3,3,0,4,0,...,20.337934,0,0,0,0,2,2008,8,4,208500

In [27]:
x = df.iloc[:, 0:-1]
y = df.iloc[:, -1]

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2)

In [29]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(x_test.shape)

(1167, 74)
(292, 74)
(1167,)
(292, 74)

In [30]:
lr.fit(x_train, y_train)

LinearRegression()

In [31]:
Rsqr = lr.score(x_train, y_train)
print("Value of RSquare is ", Rsqr * 100)

Value of RSquare is  87.16975183185531

In [32]:
## Adjusted Rsquare 

N = x_train.shape[0]
K = x_train.shape[1]

AdjRsqr = 1- (1-Rsqr) * (N-1)/(N-K-1)

print("Adjusted Rsquare = " ,  AdjRsqr * 100)

Adjusted Rsquare =  86.30030278016785

In [33]:
lr.intercept_

1091795.8888400737

In [42]:
lr.coef_

array([-1.06221698e+02, -2.01671069e+03, -1.16688219e+02,  4.23576936e-01,
        3.19539683e+04, -4.10118505e+02,  1.57594101e+03, -4.82562142e+04,
       -7.14995199e+01,  8.47911449e+03,  1.39260070e+02, -3.15613978e+02,
        8.28613848e+02, -2.79855812e+03, -6.54857350e+02,  1.02415496e+04,
        4.46365487e+03,  1.35867584e+02,  9.37305063e+01,  1.41606536e+03,
        2.88847341e+04, -1.59253930e+03,  9.79226759e+02,  6.04215546e+03,
        4.33850704e+01, -1.06292389e+04,  6.29219530e+02,  1.81878224e+03,
       -8.03148248e+03,  2.46318360e+03, -3.70844557e+03, -9.20595096e+02,
        3.80206880e+00,  6.16027770e+02,  8.57286589e+00, -2.37330832e+00,
        1.00016263e+01,  3.04607293e+02, -8.64592262e+02,  6.23419455e+03,
        2.53229322e+02,  1.66436786e+01,  2.29003555e+01, -1.45949139e+01,
        2.49491201e+01,  8.71380823e+03,  2.11342970e+03,  2.85591439e+03,
       -2.50543699e+03, -4.87031302e+03, -9.58714358e+03, -8.07905942e+03,
        3.60066483e+03,  2.35922649e+03,  4.79487386e+03, -5.94439179e+02,
       -5.26963677e+01,  1.00561478e+03,  9.56825969e+03,  1.83253627e+00,
        3.38149116e+02,  2.22651332e+03,  9.95673288e+02, -4.45193649e+00,
        1.05502211e+01, -1.25182053e+00,  1.38841399e+01,  3.81679977e+01,
       -9.66987072e+01,  1.91381627e-01,  2.29431984e+01, -7.86171166e+02,
       -1.12508576e+03,  3.93613547e+03])

In [35]:
len(lr.coef_)

74

In [43]:
pred = lr.predict(x_test)
pred

array([274530.6092566 , 176874.50852595, 430546.02642927, 204839.96272303,
       221902.7758406 , 181916.49646804, 139863.33941612, 124237.00042937,
       294794.92500369, 239840.21721267, 159113.01718822, 203551.88425123,
        71673.11842178, 211188.93686737, 264544.6945678 , 334394.48649755,
       126220.70901394, 190701.48257771, 184642.71913081, 144111.08944665,
       192593.01626614, 216314.86899343, 159624.31700846, 104148.5082157 ,
       348210.48148278, 442418.81626771, 296029.81629061, 125926.3887398 ,
       160587.405659  ,  95907.16719431,  93788.77975455, 147939.02440165,
       167902.37913635, 260719.40449305,  73129.07003183, 276245.73326268,
       207482.22685392, 196854.15855477, 126620.52867354, 135875.94112211,
       192264.11807587, 256217.75179222,  83170.64685968, 150942.39838477,
       547414.97244558, 107281.91288802, 227536.3480179 , 214772.30151604,
       123352.83257592, 332877.81557011, 253190.96160028, 119748.1333653 ,
       139731.55939076, 138842.74864317, 143393.38717793, 153834.60848812,
       169184.23411309,  96009.19777732, 128233.81759725, 127447.94375311,
       140536.19192019, 237774.1046408 ,  65614.26017411, 382875.53778637,
       148645.05022556, 103507.15761523,  58176.2429583 , 141350.8005801 ,
       166855.6522896 , 107777.00170404, 405523.22191949, 190752.03209946,
       160080.78941643, 204801.23328169, 178784.31684801, 129392.92836209,
       135913.30251599, 228928.36371596, 160101.84004275, 223707.85839612,
       194829.65953608, 116841.8184815 , 165840.9722658 , 132865.75293763,
       221305.70232857, 183984.0659339 , 253054.17582493, 412228.68569599,
       192658.39460895, 174425.14366591, 296638.79503244, 335281.58653532,
       131598.19859113,  41800.88461304, 377599.22902818, 208108.07039339,
       220485.83629831,  93841.39375098, 106127.96718575,  73555.73822402,
        88846.64517468, 183548.76172416, 106736.75418537, 197847.52625128,
       235249.12951579, 287591.22853821, 243910.74735288, 189072.22116535,
       162588.65874376, 263738.84335495, 196465.06716404, 156386.93758162,
       153784.20937268, 221224.62830959, 237409.27404182, 210748.18318621,
       201793.03397613, 195690.17344693, 123381.06376445, 234070.80254388,
       164243.14189735, 117018.24170795,  99222.47020211, 108957.01290754,
       273743.51390461, 110724.5306668 , 227987.38962086, 145831.64200742,
       200618.86048608, 204391.76828997, 139082.18005957, 209071.59901882,
       165676.08831302, 137343.21218727, 364423.34921067,  60407.79736322,
       348675.61586906, 131657.0877348 , 122917.93990048, 125089.36762075,
       114992.85249289, 216250.51735894, 236106.00822662, 154802.21142033,
       335169.12424777, 148058.38883323, 148046.84139812, 228996.99159691,
       126700.00964801, 198318.06770875, 323595.21971235, 153893.08552467,
       198557.36027235, 120475.33647857, 172162.90589558, 230439.41710733,
       172272.00213809, 153093.1585953 , 220914.46102495, 227656.37532073,
       156977.61591859, 127097.0875445 , 193008.34740521, 321662.63151889,
       195112.57224897, 126258.25410727, 180634.85415802, 191697.57989957,
       169754.94696646, 169572.9721018 ,  83525.1630563 , 134259.43364296,
       205284.70998738, 107422.30597898, 256581.26862487, 163943.9265705 ,
       269018.64016007, 156934.14794953, 118812.61843255, 253338.31217976,
       274022.74116527,  93055.13382803, 363914.85932497, 174656.52515649,
       152483.24192011, 229655.36118451, 184960.90671658, 153187.56986132,
       204340.20102073, 115201.95364897, 204494.42173285, 104095.64024187,
       242754.85454123, 150145.80420807, 214883.32571456, 102258.86819336,
       314452.7429847 , 227791.04366392, 158689.90765161, 140324.34293018,
       118638.04121117, 242772.16818178, 104821.57537622, 147893.39160192,
       106366.02587732, 108624.27060833, 146154.52245219, 198373.56717814,
       104507.64020823, 135750.68874794, 245482.25681835, 196021.95227625,
        70997.10449619, 173342.77726424, 178141.73122044, 225289.61954474,
       113815.73932479, 144102.76376737, 112068.41509564, 229110.12211222,
       138396.98679471, 112471.43835431, 218278.99239135, 183025.32594177,
       314160.06211851,  81887.87549724, 238174.85294393, 382613.17500742,
       127919.91118186, 232695.6784804 ,  72248.77514346,  89060.33981388,
       322779.25213208,  93064.8256394 , 237426.69031274, 196513.63421598,
       135438.6982351 , 107703.75013348, 213212.56776149, 303980.04437457,
       120584.86312759,  92507.68624276, 151315.41046895, 318948.19940736,
       102195.26039565, 149498.88530667,  29338.40288693, 112373.84535107,
       129378.55190719, 174804.10961931, 195594.40017776, 114648.70525008,
       252014.77526401, 216547.57181687,  93657.90493863, 105304.65126412,
        90866.7585816 , 116236.37954503, 227412.59370617, 155121.87784067,
       176751.88953546, 300510.23885049, 175509.93010181, 212394.49329091,
       286596.31007204, 112102.9247025 , 378625.74171193, 218695.55741425,
       249356.60716373, 108884.42779615, 183533.1586888 , 145211.93190943,
       199570.36033975, 302559.02493752, 128937.56938712, 223043.34743674,
       135653.54076943, 134583.52787762, 113856.50788323, 115185.23549398,
       222242.25871371, 272840.15722585, 308331.46723886, 248857.80329002,
       146895.45458065, 153595.73328104, 278993.16027196, 219455.50039864,
        85941.43188357, 112540.5138849 , 203140.12075408, 135300.84132786])

In [44]:
len(pred)

292

In [38]:
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error

In [45]:
MSE = mean_squared_error(y_test,pred)
MAPE = mean_absolute_percentage_error(y_test,pred)
print('MSE =', MSE)
print('MAPE =', MAPE*100)

MSE = 1805313679.9264774
MAPE = 12.05828453349789